In [2]:
# load libraries
import pandas as pd
import nltk # https://www.nltk.org/ ; nltk helps with tokenization, stopwords dictionary, lemmatization
import re # https://docs.python.org/3/library/re.html ; re is used for regular expressions
import numpy as np

In [3]:
#import pre-cleaned brandwatch file
data_bw = pd.read_csv("brandwatch.csv", header = 0, engine='python')
data_bw.head()

,location,date,review,brand
0,New York,12/30/2018,I think that?s out your system 2-3 days..but o...,Listerine
1,New Haven,12/30/2018,Jawn be gettin off work tryna meet up / jawn b...,Listerine
2,Eureka,12/30/2018,"Never did the whole Listerine, but a line a da...",Listerine
3,New York,12/30/2018,"Genetics are so real, I have the exact same ca...",Listerine
4,Portland,12/30/2018,Listerine Mouthwash Just 99¢ After Ibotta & Wa...,Listerine

In [4]:
#import vader
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [6]:
#turn reviews into str so that vader can be applied
data_bw['review'] = data_bw['review'].astype(str)

In [7]:
data_bw['Review_neg'] = [analyzer.polarity_scores(x)['neg'] for x in data_bw['review']]
data_bw['Review_pos'] = [analyzer.polarity_scores(x)['pos'] for x in data_bw['review']]
data_bw['Review_neu'] = [analyzer.polarity_scores(x)['neu'] for x in data_bw['review']]
data_bw.head()

,location,date,review,brand,Review_neg,Review_pos,Review_neu
0,New York,12/30/2018,I think that?s out your system 2-3 days..but o...,Listerine,0.000,0.000,1.000
1,New Haven,12/30/2018,Jawn be gettin off work tryna meet up / jawn b...,Listerine,0.047,0.060,0.892
2,Eureka,12/30/2018,"Never did the whole Listerine, but a line a da...",Listerine,0.175,0.000,0.825
3,New York,12/30/2018,"Genetics are so real, I have the exact same ca...",Listerine,0.000,0.104,0.896
4,Portland,12/30/2018,Listerine Mouthwash Just 99¢ After Ibotta & Wa...,Listerine,0.000,0.237,0.763

In [8]:
#write csv
data_bw.to_csv("brandwatch_vader.csv")